.Tree {
  display: flex;
  color: black;
  flex-direction: column;
}

.treeButton {
  border: none;
  background: none;
  color: black;
  background-color: blanchedalmond;
}

.treeButton {
  border: none;
  background: none;
  color: black;
  background-color: blanchedalmond;
}

.treeButton {
  border: none;
  background: none;
  color: black;
  background-color: blanchedalmond;
}

.treeButton {
  border: none;
  background: none;
  color: black;
  background-color: blanchedalmond;
}
