:root {
  --tree-component-color: #e6e6e6;
  --folder-line-color: #c7c7c7;
}

.tree__component {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & button {
    border: none;
    background: none;
    color: var(--tree-component-color);
  }
}

.tree__expanded {
  position: relative;
}

.home__tree:hover {
  .tree__expanded::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 1px;
    background-color: var(--folder-line-color);
  }
}

.tree__expanded > * {
  margin-left: 30px;
}
